body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-family: "Poppins", serif;
}
a{
  text-decoration: none;
  /* color: #fff; */
}
.header{
  width: 100%;
  /* position: relative; */
}
.my-nav{
  background-color: #000;
  width: 100%;
  /* position: fixed;
  z-index: 1000; */
}
.txt-white{
  color: #fff;
  font-weight: 700;
}
.bi-pin-map-fill{
  color: #f00;
}
.btn-card-counter{
  color: #fff;
  border: 2px solid #fff;
}
.btn-order{
  background-color: #48413E ;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}
.btn{
  color: #fff;
}
.btn:hover{
  color: #fff;
}
.card{
  background-color:#232323 ;
}